<h1>Leaders#index</h1>

<%= link_to 'マイプロフィール', user_path(current_user.id) %>

<ul>
  <% flash.each do |key, value| %>
    <li><%= value %></li>
  <% end %>
</ul>

<table>
  <tr>
    <th>PROFILE_IMAGE</th>
    <th>NAME</th>
    <th>SPORT_EVENT</th>
    <th>フォロー解除リンク</th>
    <th>会話するリンク</th>
  </tr>
  
  <% @leaders.each do |leader| %>
    <tr>
      <td><%= image_tag(leader.profile_image.url) if leader.profile_image.url %></td>
      <td><%= leader.name %></td>
      <td><%= leader.sport_event %></td>
      <td><%= link_to 'フォロー解除', relationship_path(leader.id, name: 'leaders'), method: :delete %></td>
      <td><%= button_to '会話する', user_users_conversations_path(current_user.id, recipient_id: leader.id), method: :post %></td>
    </tr>
  <% end %>
</table>
