<h1>Sessions#new</h1>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <ul>
    <% flash.each do |key, value| %>
      <p><%= value %></p>
    <% end %>
  </ul>
  
  <%= f.label :email, 'メールアドレス' %>
  <%= f.text_field :email %>
  
  <%= f.label :password, 'パスワード' %>
  <%= f.text_field :password %>
  
  <%= f.submit 'ログイン' %>
  
<% end %>
 
