<% if flash %>
  <ul>
    <% flash.each do |key, value| %>
      <li><%= value %></li>
    <% end %>
  </ul>
<% end %>

<div class="jumbotron conversation">
  <h1 class="text-white">あなたの会話一覧</h1>
  <hr class="my-4">
</div>

<ul class="list-group-flush container-fluid">
  
  <% @conversations.each do |conversation| %>

    <% if conversation.sender_id == current_user.id %>
      <% partner = User.find(conversation.recipient_id) %>
    <% elsif conversation.recipient_id == current_user.id %>
      <% partner = User.find(conversation.sender_id) %>
    <% end %>
    
    <li class="list-group-item">
      <div class="row">
        <div class="col-3">
          <%= image_tag(partner.profile_image.url, class: "img-fluid rounded", alt: "Responsive image") if partner.profile_image.url %>
        </div>
        <div class="col-9">
          <div class="text-left">
            <strong><%= link_to "#{partner.name}さんとの会話", user_users_conversation_path(current_user.id, conversation.id) %></strong>
            <% unread_messages = conversation.users_messages.where.not(user_id: current_user.id).where(read: false).count %>
            <% if unread_messages == 0 %>
              <div class="badge badge-pill badge-secondary"><%= unread_messages %></div>
            <% else %>
              <strong class="badge badge-pill badge-danger"><%= unread_messages %></strong>
            <% end %>
            <br>
            <div class="col-12 text-secondary">
              <% latest_message = conversation.users_messages.order("updated_at DESC").first %>
              <% if latest_message %>
                <% if unread_messages == 0 %>
                  <% if latest_message.body.length <= 20 %>
                    <small><%= latest_message.body %></small>
                  <% else %>
                    <small><%= latest_message.body[0, 20] + "…" %></small>
                  <% end %>
                <% elsif %>
                  <% if latest_message.body.length <= 20 %>
                    <small><strong><%= latest_message.body %></strong></small>
                  <% else %>
                    <small><strong><%= latest_message.body[0, 20] + "…" %></strong></small>
                  <% end %>
                <% end %>
              <% else %>
                <%= partner.name %>さんとのメッセージはまだありません。
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </li>

  <% end %>

</ul>
