<%= form_with(model: [user, conversation, message], remote: true) do |f| %>

  <% if message.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <%= message.errors.count %>件のエラーがあります。
      <ul>
        <% message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-9">
        <%= f.text_area :body, class: "form-control", placeholder: "#{@partner.name}さんへのメッセージを入力" %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
      <div class="col-1 align-self-end text-right">
        <%= f.submit '送信', class: "btn btn-outline-light" %>
      </div>
    </div>
  </div>
  
<% end %>