<%= form_with(model: @user, url: confirm_users_path, local:true) do |f| %>

  <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p><%= @user.errors.count %>件のエラーがあります。</p>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td class="text-center"><%= f.label :name, 'ユーザーネーム' %></td>
              <td><%= f.text_field :name, class: "form-control", placeholder: "ユーザーネームを設定し記入" %></td>
            </tr>
            <tr>
              <td class="text-center"><%= f.label :email, 'メールアドレス' %></td>
              <td><%= f.text_field :email, class: "form-control", placeholder: "メールアドレスを記入" %></td>
            </tr>
            <tr>
              <td class="text-center"><%= f.label :password, 'パスワード' %></td>
              <td>
                <%= f.password_field :password, class: "form-control", placeholder: "パスワードを設定し記入", id: "password" %>
                <small class="text-info", id="password_validation">パスワードは8文字以上で設定して下さい。</small>
              </td>
            </tr>
            <tr>
              <td class="text-center"><%= f.label :password, 'パスワードの再入力' %></td>
              <td>
                <%= f.password_field :password_confirmation, class: "form-control", placeholder: "確認のためパスワードを再記入", id: "password_confirmation" %>
                <small class="text-info", id="password_confirmation_validation">パスワードが一致しません。</small>
              </td>
            </tr>
          </tbody>
        </table>
        <hr class="my-4">
        <div class="text-center">
          <%= f.submit '登録内容の確認', class: "btn btn-outline-info" %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<%= javascript_include_tag "users.js" %>