<h1>Users#confirm</h1>

<%= form_with(model: @user, local: true) do |f| %>

  <p>ユーザーネーム：<%= @user.name %></p>
  <p>メールアドレス：<%= @user.email %></p>
  <p>パスワード：<%= @user.password %></p>

  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :password %>
  <%= f.hidden_field :password_confirmation %>
  
  <%= f.submit '登録する' %>
  
<% end %>

<%= form_with(model: @user, url: new_user_path, method: :get, local: true) do |f| %>

  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :password %>
  <%= f.hidden_field :password_confirmation %>
  
  <%= f.submit '戻る', name: 'back' %>
  
<% end %>