<% if flash %>
  <ul>
    <% flash.each do |key, value| %>
      <li><%= value %></li>
    <% end %>
  </ul>
<% end %>

<div class="jumbotron user">
  <h1 class="text-white">ユーザー新規登録</h1>
  <hr class="my-4">
</div>

<%= form_with(model: @user, local: true) do |f| %>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>ユーザーネーム</td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>パスワード</td>
              <td>セキュリティ保護のため表示されません</td>
            </tr>
          </tbody>
        </table>

        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :password %>
        <%= f.hidden_field :password_confirmation %>
        
        <div class="text-center">
          <div class="btn-group">
            <%= f.submit '登録する', class: "btn btn-outline-primary btn-sm" %>
<% end %>

            <%= form_with(model: @user, url: new_user_path, method: :get, local: true) do |f| %>

              <%= f.hidden_field :name %>
              <%= f.hidden_field :email %>
              <%= f.hidden_field :password %>
              <%= f.hidden_field :password_confirmation %>
  
              <%= f.submit '戻る', name: 'back', class: "btn btn-outline-secondary btn-sm" %>
  
            <% end %>
          </div>
        </div>
        
      </div>
    </div>
  </div>