<ul>
  <% flash.each do |key, value| %>
    <li><%= value %></li>
  <% end %>
</ul>

<div class="jumbotron user">
  <h1 class="text-white">ユーザー検索</h1>
  <p class="lead text-white">ユーザー名とスポーツの種目名をキーワードに、Sportwebユーザーを検索できます。</p>
  <hr class="my-4">
  <div class="container-fluid">
    <div class="row">
      <%= search_form_for(@q, class: "col-12 row") do |f| %>
        <div class="col-sm-5">
          <%= f.search_field :name_cont, class: "form-control", placeholder: "ユーザーネームで検索" %>
        </div>
        <div class="col-sm-5">
          <%= f.search_field :sport_event_cont, class: "form-control", placeholder: "スポーツ種目で検索" %>
        </div>
        <div class="col-sm-2 text-center">
          <%= f.submit '検索', class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card-group row">
    <% @users.each do |user| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card sm-6 mb-4 lg-3 shadow">
          <%= image_tag(user.profile_image.url, class: "card-img-top", alt: "Card image cap") if user.profile_image.url %>
          <div class="card-body">
            <h5 class="card-title text-center">
              <%= user.name %>
              <br>
              ♥<small><%= user.sport_event %></small>
              <br>
              @<small><%= user.area %></small>
            </h5>
            <hr class="my-4">
            <div class="card-text">
              <%= user.introduction %>
              <hr class="my-4">
              <% relationship = @relationships.find_by(leader_id: user.id) %>
              <% if user.id == current_user.id %>
                <%= link_to 'マイプロフィール', user_path(user.id), class: "btn btn-outline-danger btn-sm" %>
              <% elsif relationship %>
                <div class="btn-group">
                  <%= link_to 'フォロー解除', relationship_path(relationship.id, name: 'users'), method: :delete, class: "btn btn-outline-secondary btn-sm" %>
                  <%= button_to '会話する', user_users_conversations_path(current_user.id, recipient_id: user.id), method: :post, class: "btn btn-outline-success btn-sm" %>
                </div>
              <% else %>
                <div class="btn-group">
                  <%= link_to 'フォローする', relationships_path(leader_id: user.id, name: 'users'), method: :post, class: "btn btn-outline-primary btn-sm" %>
                  <%= button_to '会話する', user_users_conversations_path(current_user.id, recipient_id: user.id), method: :post, class: "btn btn-outline-success btn-sm" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>