<h1>Users#index</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name_cont, "ユーザーネームに次を含む" %>
  <%= f.search_field :name_cont %>
  
  <%= f.label :sport_event_cont, "スポーツ種目に次を含む" %>
  <%= f.search_field :sport_event_cont %>
  
  <%= f.submit '検索' %>
<% end %>

<ul>
  <% flash.each do |key, value| %>
    <li><%= value %></li>
  <% end %>
</ul>

<table>
  <tr>
    <th>PROFILE_IMAGE</th>
    <th>NAME</th>
    <th>SPORT_EVENT</th>
    <th>フォローする/フォロー解除リンク</th>
    <th>会話するリンク</th>
  </tr>
  
  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag(user.profile_image.url) if user.profile_image.url %></td>
      <td><%= user.name %></td>
      <td><%= user.sport_event %></td>
      <td>
        <% if user.id == current_user.id %>
          <p>自分のアカウント</p>
        <% elsif @relationships.find_by(leader_id: user.id) %>
          <%= link_to 'フォロー解除', relationship_path(user.id, name: 'users'), method: :delete %>
        <% else %>
          <%= link_to 'フォローする', relationships_path(user_id: user.id), method: :post %>
        <% end %>
      </td>
      <td><%= button_to '会話する', user_users_conversations_path(current_user.id, recipient_id: user.id), method: :post %></td>
    </tr>
  <% end %>
</table>

  