<h1>Users#index</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name_cont, "ユーザーネームに次を含む" %>
  <%= f.search_field :name_cont %>
  
  <%= f.label :sport_event_cont, "スポーツ種目に次を含む" %>
  <%= f.search_field :sport_event_cont %>
  
  <%= f.submit '検索' %>
<% end %>

<table>
  <tr>
    <th>PROFILE_IMAGE</th>
    <th>NAME</th>
    <th>SPORT_EVENT</th>
    <th>フォローする/フォロー解除リンク</th>
    <th>会話するリンク</th>
  </tr>
  
  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag(user.profile_image.url) if user.profile_image.url %></td>
      <td><%= user.name %></td>
      <td><%= user.sport_event %></td>
      <td>後で実装</td>
      <td>後で実装</td>
    </tr>
  <% end %>
</table>

  