<% if flash %>
  <ul>
    <% flash.each do |key, value| %>
      <li><%= value %></li>
    <% end %>
  </ul>
<% end %>

<div class="jumbotron user">
  <h1 class="text-white">マイプロフィール</h1>
  <hr class="my-4">
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 row justify-content-center">
      <div class="col-sm-7">
        <div class="card-group justify-content-center">
          <div class="card shadow">
            <%= image_tag(@user.profile_image.url, class: "card-img-top", alt: "Card image cap") if @user.profile_image.url %>
            <div class="card-body">
              <h4 class="card-title text-center">
                <%= @user.name %>
                <br>
                ♥<small><%= @user.sport_event %></small>
                <br>
                @<small><%= @user.area %></small>
              </h4>
              <hr class="my-4">
              <div class="card-text">
                <%= @user.introduction %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <p><%= link_to 'ユーザー情報編集', edit_user_path(@user.id) %></p>
      <p><%= link_to 'フォロー一覧', user_leaders_path(@user.id) %></p>
      <p><%= link_to 'フォロワー一覧', user_followers_path(@user.id) %></p>
      <p><%= link_to '会話一覧', user_users_conversations_path(@user.id) %></p>
      <p><%= link_to 'ユーザー検索', users_path %></p>
      <p><%= link_to 'チーム検索', teams_path %></p>
      <p><%= link_to 'チーム登録', new_team_path %></p>
      <p>管理しているチーム<br>
        <% @administering_teams.each do |team| %>
          <%= link_to "#{team.name}", team_path(team.id, team_administrator_id: @user.id) %>
        <% end %>
      </p>
      <p><%= link_to 'ユーザーアカウントの削除', user_path(@user.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></p>
    </div>
  </div>
</div>