<!DOCTYPE html>
<html>
  <head>
    <title>Sportweb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to 'ログアウト', session_path(current_user.id), method: :delete, data: { confirm: 'ログアウトしますか?' } %>
    <% else %>
      <%= link_to 'ログイン', new_session_path %>
    <% end %>
    
    <% if administering? %>
      <p><%= current_team.name %>を管理中です。<%= link_to 'チーム管理を終了する', session_path(current_user.id, administering_team_id: current_team.id), method: :delete %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
